{% extends "bootstrap/base.html" %}

{% block title %}FlaskApp{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sample Flask App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/employees/search">Search Employees</a></li>
      <li><a href="/name">Say Hello</a></li>
    </ul>
  </div>
</nav>
{% endblock %}


{% block content %}

{% endblock %}
